<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sign-Up/Login Form</title>
 
  
</head>

<body>
  <div class="form" style="width: 600px">
      
      <ul class="tab-group">
         <li class="tab"><a href="#/signup">Sign Up</a></li>
        <li class="tab  active"><a href="#/login" >Log In</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          <h1>Welcome Back!</h1>
          <h4 style="color: red">{{msg}}</h4>

          
          <form >
          
            <div class="field-wrap">
          
            <input type="email"required autocomplete="off" placeholder=" Email Address"  ng-model="email" />
          </div>
          
          <div class="field-wrap">
           
            <input type="password"required autocomplete="off"  placeholder=" Password" ng-model="password" />
          </div>
          
          <p class="forgot"><a>Forgot Password?</a></p>
          
          <button class="button button-block" ng-click="loginMethod(email,password)" />Log In</button>
          
          </form>

        </div>
        
        <div id="login">   
         

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->


</body>
</html>
