

<div class="form"><center>
 <form>
 <div class="field-wrap">
<img ng-if="stepsModel==''"  src="personIcon.png" style="  border-radius: 50%" width="200" height="200"  >
<img ng-if="stepsModel!=''" ng-src="{{stepsModel}}" height="200" width="200" style="border-radius: 50%"  />

<input  type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(event)" multiple />
 </div>

 <div class="field-wrap">
<input type="" ng-model="fname" placeholder="first name" required>
</div>
 <div class="field-wrap">
<input type="" ng-model="lname" placeholder="last name" required>
</div>
 <div class="field-wrap">
<input type="" ng-model="password"  placeholder="password" required>
</div>
<button type="submit" class="button button-block"  ng-click="setup(fname,lname,password)" />Save</button>
   </form>
</center>
</div>